.confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.confirmation-title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #224225;
}

.confirmation-message {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}