.payment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.payment-header {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #1c361f;
}

.page-header h1 {
    font-size: 36px;
    color: #224225;
    font-family: 'Poppins', sans-serif;
}

.payment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-wrapper label {
    color: #1a331d;
    margin-top: 20px;
    font-weight: 500;

}

.container-payment {
    max-width: 500px;
}

.form-wrapper {
    background-color: rgb(238, 238, 238);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

#pay-now {
    margin-top: 15px;
    background-color: #345f41;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

#pay-now:hover {
    background-color: #448d5a;
}

#pay-btn {
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 0;
}