@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


body {
  margin: 0;
}

footer{
  /* background-color: #0e0e0e; */
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

hr{
  color: rgb(160, 160, 160);
}

.text-muted {
  color: #bbbbbb !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, rgba(34, 34, 34, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
}

a{
  color: rgb(113, 74, 255);

}

.content {
  margin: 1% 10%;
  /* margin: 0% 10%; */
}

.description {
  /* margin: 20px; */
  padding: 20px;
  color: white;
  background-color: #0e0e0e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description p {
  font-size: 1rem;
  line-height: 1.6;
}


.title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px; 
  /* padding-top: 56px; */
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}


.subtitle-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* text-align: center;
  align-items: center;
  justify-content: center; */
  margin-top: 30px; 
  font-family: 'Poppins', sans-serif;
  /* margin: 20px; */
}


.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.App-logo {
  max-width: 200px;
  height: auto;
}

.App-logo:hover {
  animation: spin 7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); }
}


.image-content {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 768px) {

  .main-content {
    flex-direction: column;
  }

  .image-content,
  .title-container {
    margin: 10vw 1vw 1vw 1vw;
    text-align: left; 
  }

  .image-content {
    flex: 0;
  }

}



body {
  --sb-track-color: #212121;
  --sb-thumb-color: #5f1bfd;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
